<h3>{{title}}</h3>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Imperial Interstellar Scout Service
            </div>
            <div class="panel-body">
                <ul>
                    <li><a routerLink="/uwp">Universal World Profile</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Charted Space
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel title
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
