<h3>{{title}}</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <b>Total items: {{totalItems}}</b>
                    </div>
                    <div class="col-md-8 text-right">
                        <button type="button" class="btn btn-default btn-sm" (click)="newItem()">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="multipleDelete()">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <table *ngIf="totalItems > 0" class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Size</th>
                        <th>Diameter</th>
                        <th>Example</th>
                        <th>Surface Gravity (Gs)</th>
                        <th>Actions</th>
                        <th class="text-center">
                            <input type="checkbox" name="allChecked" [(ngModel)]="allChecked" [checked]="isAllChecked()" (click)="checkAll($event)"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list; let i = index">
                        <td class="text-right">{{i + 1}}</td>
                        <td class="text-right">{{item.size}}</td>
                        <td class="text-right">{{item.diameter}}</td>
                        <td>{{item.example}}</td>
                        <td *ngIf="isNumber(item.surfaceGravity)" class="text-right">{{item.surfaceGravity | number:'1.2-2'}}</td>
                        <td *ngIf="!(isNumber(item.surfaceGravity))" class="text-right">{{item.surfaceGravity}}</td>
                        <td class="text-center" style="padding-top: 4px;">
                            <button type="button" class="btn btn-default btn-sm" (click)="updateItem(item.id)">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" (click)="delete(item.id, false)">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <input id="{{item.id}}" name="state[{{item.id}}]" type="checkbox" [(ngModel)]="item.checked"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!(totalItems > 0)" class="panel-body">
                <alert type="info">{{message}}</alert>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize"
                [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [(ngModel)]="currentPage" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
    <pre class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Loading</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" [ngStyle]="{'width':progressBar + '%'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #itemModal="bs-modal" class="modal fade" tabindex="-1000" role="dialog" aria-labelledby="mdModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="itemModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Size</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="(errorMessage != '')">
                    <alert type="info">{{errorMessage}}</alert>
                </div>

                <form>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input type="input" class="form-control" id="size" name="size" [(ngModel)]="item.size"/>
                    </div>
                    <div class="form-group">
                        <label for="diameter">Diameter</label>
                        <input type="input" class="form-control" id="diameter" name="diameter" [(ngModel)]="item.diameter">
                    </div>
                    <div class="form-group">
                        <label for="example">Example</label>
                        <input type="input" class="form-control" id="example" name="example" [(ngModel)]="item.example">
                    </div>
                    <div class="form-group">
                        <label for="surfaceGravity">Surface Gravity (Gs)</label>
                        <input type="input" class="form-control" id="surfaceGravity" name="surfaceGravity" [(ngModel)]="item.surfaceGravity">
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary" (click)="save()">Salva</button>
                        <button type="button" class="btn btn-default" (click)="itemModal.hide()">Annulla</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
